body {
  margin: 0;
  padding: 0;
}
nav{
  background-color: rgb(224, 224, 222);
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  padding: 5px;
}

li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  
}

li a:hover{

}